html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background: rgb(238, 238, 238);
  font-family: Helvetica, sans-serif;
  padding: 20px 130px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 1.6em/1.2 Georgia, serif;
}

img {
  background: white;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border: 2px solid black;
}

.blockquote-container-text, blockquote {
    display: inline-block;
    vertical-align: top;
    width: 44%;
}

.first-image {
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
}

blockquote {
  font-family: Georgia, serif;
  border-left: 3px solid lightgray;
  padding-left: 24px;
  font-style: italic;
  color: gray;
}

.author {
  display: block;
  text-align: right;
  margin-top: 20px;
}

.site-header {
  border-bottom: 1px solid black;
  margin-right: 10%;
}

.site-title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 10px 0px;
  font-weight: bold;
}

main,
aside {
  display: inline-block;
  vertical-align: top;
}

main {
  width: 73%;
  margin-right: 65px;
}

.nature-article {
    margin-top: 50px;

}

.nature-article-tittle {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

aside li {
    list-style: square;
}

aside a {
    text-decoration: none;
    color: #009d48;
}