@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";

body {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.viewport:nth-child(1) {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.viewport:nth-child(2) {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.card {
  position: relative;
  height: 500px;
}

.card img {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

i {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
