html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

div {
  display: flex;
  max-width: 65wh;
  height: 400px;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.week {
  flex-basis: 80%;
}

.notes {
  flex-direction: column;
  flex-basis: 20%;
}

.reminders,
.special-dates {
  flex-grow: 1;
  padding-top: 5px;
  text-transform: uppercase;
  text-align: center;
}
span {
  flex-grow: 1;
  border: 1px solid black;
}

.week-data {
  flex-basis: 100%;
  text-align: center;
}

.week-day {
  text-align: center;
  margin: 0;
}
.weekend-day {
  text-align: center;
}
